<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtAuthoritiesResourcesRelMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtAuthoritiesResourcesRel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="AUTHORITIES_KEY_ID" property="authoritiesKeyId" jdbcType="INTEGER" />
    <id column="RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
  </resultMap>
</mapper>