<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtClinicDiagnosisInfoMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtClinicDiagnosisInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CLINIC_DIAGNOSIS_KEY_ID" property="clinicDiagnosisKeyId" jdbcType="INTEGER" />
    <result column="PATIENT_CLINIC_ID" property="patientClinicId" jdbcType="INTEGER" />
    <result column="HOSPITAL_ID" property="hospitalId" jdbcType="INTEGER" />
    <result column="HOSPITAL_PATIENT_ID" property="hospitalPatientId" jdbcType="VARCHAR" />
    <result column="CLINIC_NO" property="clinicNo" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="HOS_ICD_CODE" property="hosIcdCode" jdbcType="VARCHAR" />
    <result column="HOS_ICD_NAME" property="hosIcdName" jdbcType="VARCHAR" />
    <result column="ICD_CODE" property="icdCode" jdbcType="VARCHAR" />
    <result column="ICD_NAME" property="icdName" jdbcType="VARCHAR" />
    <result column="DIAGNOSIS_NO" property="diagnosisNo" jdbcType="INTEGER" />
    <result column="DIAGNOSIS_DATE" property="diagnosisDate" jdbcType="DATE" />
    <result column="DOCTOR_CODE" property="doctorCode" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="DATA_SOURCE_CODE" property="dataSourceCode" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EDITOR_ID" property="editorId" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
    <result column="DIAGNOSIS_RESULT" property="diagnosisResult" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>