<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtCountyDistrictDictMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtCountyDistrictDict" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="COUNTY_DISTRICT_CODE" property="countyDistrictCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="COUNTY_DISTRICT_NAME" property="countyDistrictName" jdbcType="VARCHAR" />
    <result column="COUNTY_DISTRICT_TYPE_CODE" property="countyDistrictTypeCode" jdbcType="VARCHAR" />
    <result column="COUNTY_DISTRICT_TYPE_NAME" property="countyDistrictTypeName" jdbcType="VARCHAR" />
    <result column="COUNTY_DISTRICT_SHORT_SPELL" property="countyDistrictShortSpell" jdbcType="VARCHAR" />
    <result column="COUNTY_DISTRICT_FULL_SPELL" property="countyDistrictFullSpell" jdbcType="VARCHAR" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
  </resultMap>
</mapper>