<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtHospitalDiseaseMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtHospitalDisease" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="HOSPITAL_DISEASE_KEY_ID" property="hospitalDiseaseKeyId" jdbcType="INTEGER" />
    <result column="HOSPITAL_ID" property="hospitalId" jdbcType="INTEGER" />
    <result column="HOSPITAL_DISEASE_CODE" property="hospitalDiseaseCode" jdbcType="VARCHAR" />
    <result column="HOSPITAL_DISEASE_NAME" property="hospitalDiseaseName" jdbcType="VARCHAR" />
    <result column="ETL_IMPORT_INSERT_TIME" property="etlImportInsertTime" jdbcType="TIMESTAMP" />
    <result column="ETL_IMPORT_UPDATE_TIME" property="etlImportUpdateTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EDITOR_ID" property="editorId" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
  </resultMap>
</mapper>