<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtHospitalMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtHospital" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="HOSPITAL_ID" property="hospitalId" jdbcType="INTEGER" />
    <result column="JZYH_HOSPITAL_ID" property="jzyhHospitalId" jdbcType="VARCHAR" />
    <result column="QUYI_HOSPITAL_CODE" property="quyiHospitalCode" jdbcType="VARCHAR" />
    <result column="HOSPITAL_CODE" property="hospitalCode" jdbcType="VARCHAR" />
    <result column="MEDICAL_CLOUD_HOSPITAL_ID" property="medicalCloudHospitalId" jdbcType="VARCHAR" />
    <result column="ADMINISTRATIVE_AREA_ID" property="administrativeAreaId" jdbcType="VARCHAR" />
    <result column="PARENT_HOSPITAL_CODE" property="parentHospitalCode" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_LEVEL_CODE" property="hospitalLevelCode" jdbcType="VARCHAR" />
    <result column="HOSPITAL_LEVEL_NAME" property="hospitalLevelName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_ADDRESS" property="hospitalAddress" jdbcType="VARCHAR" />
    <result column="POSTCODE" property="postcode" jdbcType="VARCHAR" />
    <result column="HOSPITAL_ICD_VERSION" property="hospitalIcdVersion" jdbcType="VARCHAR" />
    <result column="HOSPITAL_CONTACTS" property="hospitalContacts" jdbcType="VARCHAR" />
    <result column="HOSPITAL_CONTACTS_PHONE" property="hospitalContactsPhone" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="DOUBLE" />
    <result column="LATITUDE" property="latitude" jdbcType="DOUBLE" />
    <result column="HCRM_LOCAL_URL" property="hcrmLocalUrl" jdbcType="VARCHAR" />
    <result column="SERVICES_DEADLINE" property="servicesDeadline" jdbcType="DATE" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
  </resultMap>
</mapper>