<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtHospitalModelMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtHospitalModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="HOSPITAL_MODEL_ID" property="hospitalModelId" jdbcType="INTEGER" />
    <result column="HOSPITAL_MODEL_CODE" property="hospitalModelCode" jdbcType="VARCHAR" />
    <result column="HOSPITAL_MODEL_NAME" property="hospitalModelName" jdbcType="VARCHAR" />
    <result column="SYS_HOSPITAL_MODEL_CODE" property="sysHospitalModelCode" jdbcType="CHAR" />
  </resultMap>
</mapper>