<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtMedicationReminderFormMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtMedicationReminderForm" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MEDICATION_REMINDER_KEY_ID" property="medicationReminderKeyId" jdbcType="INTEGER" />
    <result column="VISIT_RECORD_KEY_ID" property="visitRecordKeyId" jdbcType="INTEGER" />
    <result column="PATIENT_SOURCE" property="patientSource" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EDITOR_ID" property="editorId" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>