<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtMedicationReminderPushRecordMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtMedicationReminderPushRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MEDICATION_REMINDER_PUSH_KEY_ID" property="medicationReminderPushKeyId" jdbcType="INTEGER" />
    <result column="MEDICATION_REMINDER_RULE_KEY_ID" property="medicationReminderRuleKeyId" jdbcType="INTEGER" />
    <result column="MEDICATION_NAME" property="medicationName" jdbcType="VARCHAR" />
    <result column="MEDICATION_PURPOSE" property="medicationPurpose" jdbcType="VARCHAR" />
    <result column="USAGE_AND_DOSAGE" property="usageAndDosage" jdbcType="VARCHAR" />
    <result column="PLAN_PUSH_DATETIME" property="planPushDatetime" jdbcType="TIMESTAMP" />
    <result column="IS_APP_GET" property="isAppGet" jdbcType="INTEGER" />
    <result column="REAL_PUSH_DATETIME" property="realPushDatetime" jdbcType="TIMESTAMP" />
    <result column="PUSH_STATUS" property="pushStatus" jdbcType="INTEGER" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EDITOR_ID" property="editorId" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
    <result column="ATTENTION_ITEM" property="attentionItem" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>