<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtOperationHistoryMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtOperationHistory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OPERATION_HISTORY_KEY_ID" property="operationHistoryKeyId" jdbcType="INTEGER" />
    <result column="PATIENT_KEY_ID" property="patientKeyId" jdbcType="INTEGER" />
    <result column="OPERATION_NAME" property="operationName" jdbcType="VARCHAR" />
    <result column="OPERATION_TIME" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="OPERATION_DIAGNOSIS" property="operationDiagnosis" jdbcType="VARCHAR" />
    <result column="DATA_SOURCE_CODE" property="dataSourceCode" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>