<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtSpecialDiseaseTaskCallRelMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtSpecialDiseaseTaskCallRel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TASK_CALL_REL_KEY_ID" property="taskCallRelKeyId" jdbcType="INTEGER" />
    <result column="TASK_KEY_ID" property="taskKeyId" jdbcType="INTEGER" />
    <result column="CALL_ID" property="callId" jdbcType="INTEGER" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="INTEGER" />
  </resultMap>
</mapper>