<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.CtTreatmentPlanDetailMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.CtTreatmentPlanDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TREATMENT_PLAN_DETAIL_KEY_ID" property="treatmentPlanDetailKeyId" jdbcType="INTEGER" />
    <result column="TREATMENT_PLAN_KEY_ID" property="treatmentPlanKeyId" jdbcType="INTEGER" />
    <result column="TEMPLATE_KEY_ID" property="templateKeyId" jdbcType="INTEGER" />
    <result column="QUESTION_KEY_ID" property="questionKeyId" jdbcType="INTEGER" />
    <result column="OBJECTIVE_ANSWERS" property="objectiveAnswers" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIT" />
    <result column="SUBJECTIVE_ANSWERS" property="subjectiveAnswers" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>